.app {
    width: 100%;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
}

.app-body {
    margin: 0 50px;
}

.app-title {
    font-size: 1.5em;
}

.nav-link {
    color: white;
}

.book-list-component, .author-list-component {
    width: 50%;
}

.add-book-component, .add-author-component {
    width: 50%;
}

.author-list, .book-list {
    list-style: none;
}

.form-element {
    padding: 10px 0;
}

.form-element > label {
    margin: 0 10px 0 0;
}

.app-msg {
    color: darkred;
    padding: 0 20px;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-details > div {
    display: flex;
}

.home-component {
    display: flex;
}

.home-component h2 {
    color: #222222;
    padding: 20px;
}
